cmake-build-*/
.idea/
.vscode/
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.out
motor_continuous
test_dc_scan
ethercat_example

# Debian 打包产物
obj-*/
debian/.debhelper/
debian/motor-continuous/
debian/motor-continuous.substvars
debian/*.debhelper
debian/files
debian/debhelper-build-stamp
*.deb
*.ddeb
